// app global css in SCSS form
.bg-tooltip {
  background: rgba(1, 1, 1, 0.5);
}

.name {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 나눔고딕;
}

.header {
  background: #fff;
  height: 3.5rem;
  color: #333;
  padding: 0 5% 0 5%;
}

.header-font {
  font-family: 다음체;
  font-size: 1.5rem;
}

.pointer {
  cursor: pointer;
}

.router-view {
  border-top: 1px solid #efefef;
  border-bottom: none;
  border-right: none;
  border-left: none;
  padding: 5% 5% 0 5%;
}
